@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }
  
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color:#333333;
  }

.navigation-list{
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
}
.application{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color:#FFFFFF;
  background-color: #756257;
  border-radius: 4px;
}
.tagline{
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subtitle{
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages-comment, .numbering, .advantages-title{
  text-align: center;
}

.advantages-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
.advantages-list, .advantages-items{
  list-style: none;
}
.search-hostel h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.search-hostel p{
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-hostel a{
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.appointment h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.appointment p{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}
.button-email{
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.footer-phone a{ 
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.footer-phone{
  text-align: center;
}

.catalog-control h1{
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-item{
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title{
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.control{
  font-size: 18px;
line-height: 23px;
color: #FFFFFF;
}

.catalog-filter button[type=submit]{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  border: none;
}
.catalog-filter button[type=reset]{
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.search-result h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.select-control .option{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-card-link{
  text-decoration: none;
  color: #333333;
}

.product-card-title h3{
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.produkt-type{
  font-size: 18px;
  line-height: 23px;
}

product-price{
  font-size: 18px;
  line-height: 23px;
}

.product-card-button{
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756257;
  border-radius: 4px;
  text-decoration: none;
}
.favourites{
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
  border: none;
}

.user-rating{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.more-products{
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
  border: none;
  text-decoration: none;
}
.pagination-link{
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
  text-decoration: none;
}

.current-pagination-link{
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
  text-decoration: none;
}

.items-on-page label{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.welcome-title{
  background-image:url("../images/index-background.jpg");
  background-repeat: no-repeat;
}

.advantages-container{
  color: #ffffff;
  background-color: #83B3D3}

.advantages-item-content:first-child{
  background-color: rgba(131, 179, 211, 0.12);
  background-image:url("../images/icon-1.svg");
  background-repeat:no-repeat;
}

.advantages-item-content:nth-child(2){
  background-image:url("../images/icon-2.svg");
  background-repeat:no-repeat;
}

.advantages-item-content:nth-child(3){
  background-color: rgba(131, 179, 211, 0.12);
  background-image:url("../images/icon-3.svg");
  background-repeat:no-repeat;
}

.advantages-item:nth-child(2){
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-item:nth-child(3){
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4){
  color: #ffffff;
  background-color:rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(5){
  color: #ffffff;
  background-color:rgba(131, 179, 211, 0.12);
}

.appointment{
  background-image: url(../images/background-mailing.jpg);
  background-color: #708090;
  background-repeat: no-repeat;
}

.social-twitter{
  background-image: url(../images/twitter-logo.svg);
  background-repeat: no-repeat;
}

.social-facebook{
  background-image: url(../images/facebook-logo.svg);
  background-repeat: no-repeat;
}

.social-youtube{
  background-image: url(../images/youtube-logo.svg);
  background-repeat: no-repeat;
}

.catalog-control{
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-color: #708090;
}